.project
.classpath
.settings
/.settings
*.releaseBackup
release.properties
.idea
/.idea
*.iml
*.class
data/
bin/
io/
temp/
target/
datasets/
output/
_COLLECTION_
ORDER/order.log
.DS_Store
*.versionsBackup
